.home-container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  .start-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .start-button:hover {
    background-color: #45a049;
  }
  